* {
    margin: 0px;
     box-sizing: border-box;
}

.content {
    height: 100vh;
    width: 100vw;
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-card {
    height: 25rem;
    max-width: 37.5rem;
    background-color: white;
    border-radius: 2%;
    margin: auto;
    display: flex;
}

.product-image {
    height: 25rem;
    width: 18.75rem;
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}


.product-info {
     height: 25rem;
    width: 18.75rem;
    padding-left: 5%;
}

.info-content {
    height: 25rem;
    width: 16.875rem;
    float: right;
}

.price-tags {
    width: 16.25rem;
    height: 1.5625rem;
    background-color:hsl(0, 0%, 100%) ;
    display: flex;
}


.discount-price  {
    color: rgb(60, 128, 103);
}

.og-price {
    text-decoration: line-through;
}

button {
    width: 13.75rem;
    height: 2.5rem;
    background-color: rgb(60, 128, 103);
    border: none;
    margin-top: 0.625rem;
    border-radius: 4%;
    font-size: 1rem;
    color: white;
}

button:hover {
  background-color: hsl(158, 36%, 20%);
  cursor: pointer;
}


h2 {
   
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-size: clamp(1.2rem, 4vw, 2rem);
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.product-info p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: hsl(228, 12%, 48%);
  font-size: 1rem;
}


.title {
    margin-top: 1.5625rem;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .content {
    height: 110vh;
    width: 100vw;
    background-color: lavenderblush;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .content-card {
    height: 40rem;
    max-width: 33rem;
    display: flex;
    flex-direction: column;
}

.product-image {
    height: 18rem;
    background-image: url("images/image-product-mobile.jpg");
    background-size: cover;
    border-radius: 0%;
}

}
